@font-face {
    font-family:streetwear ;
    src: url(video/streetwear.zip);
}
h1{
    margin-top:0px;
    text-shadow:2px 2px 5px blue, -2px -2px 5px red;
    font-family:streetwear;
}
#img1{
margin-right: 10px;
    float:right;
    margin-left: 10px;
}
body{
    border:5px solid;
    display:flow-root;
}
p{
    margin-left: 10px;
}

