html,
body {
  width: 100%;
  height: 100%;
}
.main {
  background-image: url(assets/netflixproject.jpg);
  width: 100vw;
  background-position: center center;
  height: 100vh;
  position: relative;
}
.Sign {
  font-weight: bold;
  position: relative;
  z-index: 10;
  margin-top: 25px;
  color: white;
  width: 90px;
  height: 45px;
  background-color: red;
}
.drop {
  position: relative;
  font-weight: bold;
  z-index: 10;
  margin-top: 25px;
  color: white;
  width: 110px;
  padding-left: 10px;
  height: 45px;
  background-color: black;
}
.hero {
  position: relative;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-weight: bold;
  flex-direction: column;
  margin-top: 30vh;
}
.address {
  margin-top: 27px;
  margin-left: 35vw;
  color: white;
  background-color: black;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  height: 55px;
  font-size: 22px;
}
.get {
  margin-right: 200px;
  margin-top: -58px;
  color: white;
  background-color: red;
  position: relative;
  font-weight: bolder;
  font-size: 22px;
  z-index: 99;
  width: 150px;
  height: 55px;
  display: flex;
  margin-left: 55vw;
  justify-content: center;
  align-items: center;
}
.unlimited {
  font-size: 48px;
  color: white;
}
.ready {
  font-size: 22px;
  color: white;
}
.watch {
  font-size: 22px;
  color: white;
}
nav {
  display: flex;
  max-width: 80vw;
  margin: auto;
  justify-content: space-between;
  align-items: center;
  height: 82px;
}
nav img {
  width: 200px;
  height: 100px;
  margin-top: 25px;
  position: relative;
  z-index: 10;
}
.main .box {
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  opacity: 0.44;
  background-color: black;
}
body {
  height: 2800px;
  overflow-x: hidden;
  background-color: black;
}
* {
  margin: 0;
  padding: 0;
}
@keyframes header {
  0% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 50% 100%;
  }
}
hr {
  height: 24vh;
}
.divider {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.4;
  margin-top: 2px;
}
.tracking-in-expand {
  min-height: auto;
  text-align: left;
  color: white;
  font-family: sans-serif;
  font-size: 73px;
  padding-left: 105px;
  padding-top: 158px;
  width: 613px;
  font-weight: bold;
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
#watch {
  color: white;
  font-family: sans-serif;
  text-align: left;
  font-size: 30px;
  padding-left: 105px;
  padding-top: 20px;
  width: 660px;
  -webkit-animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
#tv {
  padding-left: 414px;
  margin-top: -160px;
  position: relative;
  z-index: 10;
}
.divide {
  background-color: #6c6868;
  height: 5px;
  width: 100vw;
  opacity: 0.5;
  margin-top: 82px;
  position: relative;
}
.video {
  display: flex;
  position: relative;
  padding-bottom: 50px;
  margin-top: 20px;
  width: 1025px;
  padding-left: 200px;
  margin-top: -241px;
  width: 464px;
  padding-left: 500px;
  margin-top: -383px;
}
#a {
  color: white;
@@ -506,51 +512,6 @@ hr {
  font-weight: bold;
  margin-top: 50px;
}
.footer {
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

footer {
  border: 5px solid grey;
  height: 900px;
  width: 100vw;
}
.l1 {
  list-style-type: none;
  margin-left: 300px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  text-align: center;
}
.l2 {
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  list-style-type: none;
  margin-left: 600px;
  margin-bottom: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.l3 {
  height: 50px;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: bold;
  width: 150px;
  list-style-type: none;
  margin-left: 900px;
  margin-bottom: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.change {
  display: flex;
  justify-content: center;
@@ -592,3 +553,42 @@ footer {
  color: white;
  font-weight: bold;
}
footer{
  border: 5px solid grey;
  height: 900px;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.footer
{
  position: relative;
  color: white;
  font-family: sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
.lastpage
{
  position: relative;
  margin-top: -534px;
  margin-left: 60px;
  margin-right: 40px;
}
.lastpage2
{
  position: relative;
  margin-left: 632px; 
  margin-top: -74px ;
  margin-right: 60px;
}
.lastpage3
{
  position: relative;
  margin-left: 318px;
  margin-top: -70px;
  margin-right: 60px;
}